<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>news_website</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
</head>
<body>
    <header class="header">
        <div class="header_logo">News Website</div>
        <div class="header_searsh">search</div>
        <%- include('../partials/search.ejs') %> 
       </header>
    <div class="wrapper">
        <div class="news">
            <% if(articles!=null){%>
            <% articles.forEach( (article)=> { %>
                <a href="/article/<%- article.id%>" class="card">
                    <img src="<%- article.thumbnail_url%>">
                  <h2><%- article.title.rendered %></h2>
                  <p><%- article.excerpt.rendered %></p>  

                </a>
           <% })%>
           <%} else{ %>
            NO posts found
            <%    } %>
                
        </div>
      
    </div>
   
    
</body>
</html>